   <div id="box">

        <div class="error-container">
            <p>Error</p>
        </div>


        <main>

            <div class="full-screen">
                <div class='con-not-found'>
                    <div>
                        <img src="/views/img/logo.png">
                    </div>

                    <div class="error-message">
                        <span class="error-num">404</span>
                        <h1>Oops! This road leads nowhere.</h1>
                        <p>The page you're looking for doesn't exist or has been moved.</p>
                        <p>Go Back to <a href="/">HOME</a></p>
                    </div>

                </div>
            </div>
        </main>
