<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>

    <!-- Do not forget to change the path to the css file -->
    <link href="./static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    <div id="box">

        <!-- In case of error, you should display div with class "error-container" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
        <!--
        <div class="error-container">
            <p>Error</p>
        </div>-->


        <nav>
            <!-- Do not forget to change the path to the image -->
            <img src="./static/img/logo.png" alt="logo">

         <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Browse Rides</a></li>

                <!-- Logged users -->
                <li><a href="#">Post a Car</a></li>
                <li><a href="#">My Showcase</a></li>
                <li><a href="#">Logout</a></li>

                <!-- Guest users -->
                <li><a href="#">Register</a></li>
                <li><a href="#">Login</a></li>
            </ul>


        </nav>


        <main>

            <section id="edit-page">
                <div class="editSection">
                    <div class="info">
                        <h2>Update the details of your showcased vehicle below. Make sure all the information is accurate - car lovers are watching!</h2>
                    </div>

                    <form action="#" method="" class="editForm">
                        <h2>Edit Car Showcase</h2>
                         <ul class="ul-wrap">
                            <li>
                                <label for="car-name">Car Model Name:</label>
                                <input type="text" class="inputFields" id="car-name" name="name"
                                    placeholder="Bugatti Chiron" />
                            </li>
                            <li>
                                <label for="manufacturer">Manufacturer:</label>
                                <input type="text" class="inputFields" id="manufacturer" name="manufacturer"
                                    placeholder="Bugatti" />
                            </li>
                            <li>
                                <label for="engine-type">Engine Type:</label>
                                <input type="text" class="inputFields" id="engine-type" name="engine"
                                    placeholder="8.0L Quad-Turbo W16" />
                            </li>
                            <li>
                                <label for="top-speed">Top Speed:</label>
                                <input type="text" class="inputFields" id="top-speed" name="specs"
                                    placeholder="Top Speed: 304 kmph" />
                            </li>
                            <li>
                                <label for="car-image">Image URL:</label>
                                <input type="text" class="inputFields" id="car-image" name="image"
                                    placeholder="https://..." />
                            </li>
                            <li>
                                <label for="description">Car Description:</label>
                                <textarea id="description" class="inputFields" name="description"
                                    placeholder="A brief summary of this exotic vehicle..."></textarea>
                            </li>
                            <li id="center-btn">
                                <button id="edit-btn">Edit</button>
                            </li>
                        </ul>
                       
                    </form>

                </div>
            </section>

        </main>


        <footer>
            © JS Back-End Exam 2025
        </footer>
    </div>

</body>

</html>