{{!-- Използва layout-а main.hbs --}}
{{!-- Покажи съобщение за грешка, ако има --}}
{{#if error}}
  <div class="error-container">
    <p>{{error}}</p>
  </div>
{{/if}}

<section id="home">
  <div class="home-container">
    <div class="short-info">
      <h1>Welcome to Ride Showcase</h1>
      <h2>Where Passion Meets the Pavement</h2>
    </div>
  </div>
</section>

<section id="home-page">
  <div class="cars">
    <div class="col container"><img src="/views/img/Bugatti Chiron Super Sport.webp" alt="Niffler"></div>
    <div class="col container"><img src="/views/img/Citroen DS.webp" alt="Demiguise"></div>
    <div class="col container"><img src="/views/img/Glickenhaus 004CS.webp" alt="Hippogriff"></div>
    <div class="col container"><img src="/views/img/Porsche 959 .webp" alt="Basilisk"></div>
  </div>
</section>
