<section id="login-page">
  <div class="loginSection">
    <div class="info">
      <h2>Please enter your username and password to log in and explore the world's most exotic rides</h2>
    </div>

    {{#if errors}}
      <div class="error-container">
        <ul>
          {{#each errors}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
    {{/if}}

    <form method="POST" class="loginForm" action="/auth/login">
      <h2>Login</h2>
      <ul class="ul-wrap">
        <li>
          <label for="email">Email:</label>
          <input type="text" class="inputFields" id="email" name="email" value="{{email}}" />
        </li>
        <li>
          <label for="password">Password:</label>
          <input type="password" class="inputFields" id="password" name="password" />
        </li>
        <li id="center-btn">
          <button id="login-btn">Login</button>
        </li>
      </ul>
    </form>
  </div>
</section>
