<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{#if title}}{{title}} | Ride Showcase{{else}}Ride Showcase{{/if}}</title>
  <link href="/views/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
  <div id="box">
    <nav>
      <img src="/views/img/logo.png" alt="logo">

      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/browse">Browse Rides</a></li>

        {{#if user}}
          <li><a href="/posts/car">Post a Car</a></li>
          <li><a href="/my-cars">My Showcase</a></li>
          <li><a href="/auth/logout">Logout</a></li>
        {{else}}
          <li><a href="/auth/register">Register</a></li>
          <li><a href="/auth/login">Login</a></li>
        {{/if}}
      </ul>
    </nav>

    <main>
      {{{body}}}
    </main>

    <footer>
      © JS Back-End Exam 2025
    </footer>
  </div>
</body>
</html>
